<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Datos alumno</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido</h1>

    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Llene el formulario</h4>
    <div class="ion-padding-top ion-text-center" #i>
      <img src='assets/icon/Pers.jpeg' style='width: 35% ; border: 2px solid black'>
      </div>

  </b>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="sesion.User_name"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Apellido Materno </ion-label>
    <ion-input type="text" [(ngModel)]="sesion.segundo_apellido_materno"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="sesion.Password"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="floating">Repite contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="sesion.Password2"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="limpiarFormulario()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="block" (click)="registrar()">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding-top ion-text-center">
    <ion-button [routerLink]="['/formulario']">Ir a informacion de DUOC</ion-button>
  </div>
</ion-content>

<!-- Termina el Content -->
