<ion-header>
  <ion-toolbar #titulo3 color="primary">
    <ion-title>Reglas DUOC UC</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido</h1>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Al ser parte de DUOC UC</h4>
    <h4>debes respetar ciertas reglas</h4>
  </b>
  <div class="ion-padding-top ion-text-center">
    <div>
      <img src='assets/icon/reglamento.jpg' style='width: 80% ; border: 2px solid black'>
      </div>
  </div>
  <div class="ion-padding-top ion-text-center">
    <div>
      <img src='assets/icon/Instituto.jpeg' style='width: 30% ; border: 2px solid black'>
      </div>
  </div>
</ion-content>
<!-- Termina el Content -->




