<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Revalidación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Ingrese su nueva contraseña</h1>
      <p>Asegurese de poder recordarla</p>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">


      <div>
      <img src='assets/icon/DuocUC.jpg' style='width: 25% ; border: 2px solid black'>
      </div>

      <ion-card-content>
        <ion-item >
          <ion-label position="floating"  #titulo4>Ingrese contraseña</ion-label>

          <ion-input type="password" [(ngModel)]="usuario.password1"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating" #titulo5>Repita contraseña</ion-label>

          <ion-input type="password" [(ngModel)]="usuario.password2"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">

            <ion-button shape="block" (click)="ingresar()">Restablecer</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button shape="block" (click)="limpiarFormulario()" id="limpiar3">
              Limpiar
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-card-content>

     </ion-card>
  </div>
  <div class="ion-padding-top ion-text-center">
    <ion-button [routerLink]="['/pass']" id="volver">Volver</ion-button>
  </div>




</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Identificación de usuario
    </ion-title>

  </ion-toolbar>
</ion-footer>
