<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asistencia alumnos DUOC UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido a clases</h1>
      <h2>Ingrese sus credenciales</h2>
      <p>Su usuario y contraseña</p>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Para acreditar su asistencia debe iniciar sesión</h2>
        </ion-label>
      </ion-card-title>
      <div>
        <img
          src="assets/icon/DuocUC.jpg"
          style="width: 25%; border: 2px solid black"
        />
      </div>

      <ion-card-content>
        <ion-item #u1>
          <ion-label position="floating">Usuario</ion-label>

          <ion-input
            type="text"
            [(ngModel)]="us.nombreUsuario"
          ></ion-input>
        </ion-item>
        <ion-item #u2>
          <ion-label position="floating">Contraseña</ion-label>

          <ion-input
            type="password"
            [(ngModel)]="us.clave"
            #titulo
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button
              shape="block"
              (click)="limpiarFormulario()"
              id="limpiar1"
            >
              Limpiar
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-card-content>

      <ion-label>
        <br />
        <a routerLink="/pass">Si olvidaste tu contraseña, haz clic aquí</a>
      </ion-label>
      <div class="ion-text-center ion-padding-vertical">
        <p>------------------------------------</p>
      </div>
      <ion-label>
        <br />
        <a routerLink="/formulario">Más información, haz clic aquí</a>
      </ion-label>
      <div class="ion-text-center ion-padding-vertical">
        <p>------------------------------------</p>
      </div>
      <ion-label>
        <br />
        <a routerLink="/registro">Eres nuevo en el Duoc?, haz clic aquí</a>
      </ion-label>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Identificación de usuario
    </ion-title>
  </ion-toolbar>
</ion-footer>
